services:
  dev:
    platform: linux/amd64
    image: mcr.microsoft.com/devcontainers/typescript-node:1-20-bookworm
    user: root
    ports:
      - "9080:9080"
    volumes:
      - ..:/workspaces:cached
    environment:
      - MONGODB_URL=mongodb://mongo:27017
    command: sleep infinity
  mongo:
    platform: linux/amd64
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - ./init:/docker-entrypoint-initdb.d